@page "/admin"
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles = "Admin")]
@inject IEventsService eventsService
@inject IJSRuntime jsRuntime

<AlertMessage IsVisible="@showAlert" Message="@alertMessage" Type="@alertType" />

<h3>Admin</h3>

<EditForm Model="newEvent" OnValidSubmit="AddEvent">
    <DataAnnotationsValidator></DataAnnotationsValidator>

    <div class="form-group">
        <label for="name">Name:</label>
        <InputText id="name" @bind-Value="newEvent.Name" class="form-control"></InputText>
        <ValidationMessage For="() => newEvent.Name" />
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <InputTextArea id="description" @bind-Value="newEvent.Description" class="form-control"></InputTextArea>
        <ValidationMessage For="() => newEvent.Description" />
    </div>

    <div class="form-group">
        <label for="eventType">Event Type:</label>
        <InputText id="eventType" @bind-Value="newEvent.EventType" class="form-control"></InputText>
        <ValidationMessage For="() => newEvent.EventType" />
    </div>

    <div class="form-group">
        <label for="location">Location:</label>
        <InputText id="location" @bind-Value="newEvent.Location" class="form-control"></InputText>
        <ValidationMessage For="() => newEvent.Location" />
    </div>

    <div class="form-group">
        <label for="dateTime">Date and Time:</label>
        <input type="datetime-local" id="dateTime" @bind-value="@newEvent.DateTime" class="form-control"
               min="@DateTime.Today.ToString("yyyy-MM-ddTHH:mm")"></input>
    </div>
    @*detta displayas inte men jag vet inte varför*@
    @if (!isDateValid)
    {
        <div class="text-danger">You can't select a date before today's date</div> 
    }

    <div class="form-group">
        <label for="ticketPrice">Ticket Price:</label>
        <InputNumber id="ticketPrice" @bind-Value="newEvent.TicketPrice" class="form-control"></InputNumber>
        <ValidationMessage For="() => newEvent.TicketPrice" />
    </div>

    <div class="form-group">
        <label for="maxAttendees">Max attendees:</label>
        <InputNumber id="maxAttendees" @bind-Value="newEvent.MaxCapacity" class="form-control"></InputNumber>
        <ValidationMessage For="() => newEvent.MaxCapacity" />
    </div>

    <button type="submit" class="btn btn-primary">Add Event</button>
</EditForm>


<select @bind="selectedItemId">
    <option value=""></option>
    @if (allEvents != null)
    {
        foreach (var item in allEvents)
        {
            <option value="@item.Id">@item.Name</option>
        }
    }
</select>

<button @onclick="() => DeleteEvent(selectedItemId)">Delete Event</button>

@code {
    private List<EventModel> allEvents;
    private int selectedItemId;
    private EventModel newEvent = new() { DateTime = DateTime.Now };
    private bool isDateValid = true;
    private bool showAlert = false;
    private string alertMessage;
    private string alertType;

    protected override async Task OnInitializedAsync()
    {
        allEvents = await eventsService.GetAllEventsAsync();

    }

    private async Task AddEvent()
    {
        if (newEvent.DateTime < DateTime.Now)
        {
            isDateValid = false;
        }
        else
        {
            isDateValid = true;

            showAlert = true;
            alertMessage = newEvent.Name + " has been successfully added to the events!";
            alertType = "success";

            //Add random image to event
            newEvent.Image = $"image-{new Random().Next(1, 27)}";

            await eventsService.AddEventAsync(newEvent);
            allEvents.Add(newEvent);
        }

    }

    private async Task DeleteEvent(int id)
    {
        if (allEvents != null && await jsRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete this event?"))
        {
            showAlert = true;
            alertMessage =  "Event has been removed from the database!";
            alertType = "danger";
            await eventsService.DeleteEventAsync(id);
            allEvents.RemoveAll(item => item.Id == id);
        }

        
    }
}
